@font-face {
    font-family: "Poppins";
    font-display: auto;
    src: url(./assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-display: auto;
    src: url(./assets/fonts/Roboto-Light.ttf);
}

:root {
    --font1: 'Allura', cursive;
    --font2: 'Poppins', serif;
    --font3: 'Roboto', serif;
    --white: #eee;
    --black: #21201e;
    --grey: rgb(182, 182, 182);
    --color1: #ECBE4D;
    --color2: #2A74A3;
    --color3: #3755a6;
    --color4: #0B0E17;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

li {
    list-style: none;
}

body {
    text-align: center;
    font-family: var(--font3);
    background: var(--white);
}


header {
    background: url(./assets/img/back-header1.webp) center/cover;
    color: var(--white);
}

/* Navbar */
#navbar {
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
    transition: top 0.3s;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Cette classe sera ajoutée via JavaScript */
.nav-hidden {
    top: -8vh !important;
    /* On la remonte de sa propre hauteur */
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    height: 40px;
    display: block;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
}

.nav-links li a {
    text-decoration: none;
    color: var(--white);
    margin-left: 25px;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: var(--color1);
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--white);
    transition: all 0.3s ease-in-out;
}

/****** Accueil ******/
.header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header-text div {
    margin-top: 20px;
}

/* master.png */
.header-text img {
    margin: 50px 0 0;
    height: 300px;
    max-width: 100%;
    filter: drop-shadow(3px 1px 2px #ECBE4D);
}

/* Masters de Morens */
.header-text h1 {
    position: relative;
    user-select: none;
    letter-spacing: 5px;
    font-size: 3rem;
    margin: 50px 0 20px;
    color: var(--color1);
    text-shadow: 2px 2px 8px var(--grey);
}

/* 2026 */
.header-text h2 {
    user-select: none;
    margin: 0 0 30px;
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 10px;
    color: var(--color1);
    text-shadow: 2px 2px 8px var(--grey);
}

.header-text p {
    user-select: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: normal;
    font-size: 1.3rem;
}

/* ARE YOU READY */
.header-text h3 {
    user-select: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    margin: 30px 0;
    color: var(--color2);
}

/****** Règlements ******/
.reglements,
.inscriptions,
.recompenses,
.cantine,
.resultats {
    background: var(--white);
    text-align: left;
    margin: 20px;
    padding: 30px 15px;
    line-height: 2rem;
    color: var(--color3);
    font-family: var(--font2);
    border: 2px solid var(--color1);
}

/* Format de compétition, Règles du jeu */
.reglements h3 {
    padding: 20px 0 5px;
}

.reglements li {
    display: flex;
    align-items: flex-start;
    color: var(--black);
}

.reglements li::before {
    content: "-";
    margin-right: 10px;
    flex-shrink: 0;
}

.reglements p {
    color: var(--black);
}

/****** Inscriptions ******/
.inscriptions h2 {
    padding: 0 0 20px;
}

.inscriptions h3 {
    padding: 20px 0 5px;
}

.inscriptions li {
    display: flex;
    align-items: flex-start;
    color: var(--black);
}

.inscriptions li::before {
    content: "-";
    margin-right: 10px;
    flex-shrink: 0;
}

.inscriptions p {
    color: var(--black);
    line-height: 50px;
}

/****** Récompenses ******/
.recompenses {
    background: url(./assets/img/back-header1.webp) right/cover;
    color: var(--white);
}

.recompenses p {
    color: var(--white);
    line-height: 50px;
}

.recompenses img {
    max-width: 90%;
    margin: 10px 0;
    border-radius: 10px;
}

/****** Cantine ******/
.grid-2 {
    display: grid;
    grid-template-columns: 60% 40%;
}

.cantine h3 {
    padding: 20px 0 5px;
}

.cantine h4 {
    padding: 20px 0 5px;
}

.cantine li {
    display: flex;
    align-items: flex-start;
    color: var(--black);
}

.cantine li::before {
    content: "-";
    margin-right: 10px;
    flex-shrink: 0;
}

.cantine img {
    max-width: 90%;
    margin: 10px 0;
    border-radius: 10px;
}

/****** Résultats ******/
.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: start;
}

.grid-3 div {
    place-items: center;
}

.resultats {
    background: url(./assets/img/back-header1.webp) center/cover;
    color: var(--white);
}

.resultats h2 {
    color: var(--white);
    letter-spacing: 2px;

}

.resultats h3 {
    padding: 20px 0 20px;
    color: var(--white);
    letter-spacing: 2px;
}

/* Tableaux */
table {
    width: 60%;
    border-collapse: collapse;
    background: white;
    margin-bottom: 10px;
}

tbody {
    background: var(--color4);

}

table th,
table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    margin: 0 auto;
    align-items: center;
}

/* Footer */
footer {
    height: 58px;
    background: var(--color3);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

/* RESPONSIVE < 850px */
@media (max-width: 850px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        position: fixed;
        left: -100%;
        top: 70px;
        flex-direction: column;
        background: var(--color4);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links li {
        margin: 20px 0;
    }

    /* Animation X */
    .menu-toggle.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-toggle.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Cantine */
    .grid-2 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .cantine img {
        max-width: 100%;
        margin: 20px auto 0;
        border-radius: 10px;
    }

    /****** Résultats ******/
    .grid-3 {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 690px) {


    .header-text h1 {
        font-size: 1.9rem;
    }

    .header-text h2 {
        font-size: 1.7rem;
    }

    .header-text p {
        font-size: 0.9rem;
    }

    .header-text h3 {
        font-size: 1.2rem;
    }

    .recompenses p {
        color: var(--white);
        line-height: 30px;
    }
}

@media (max-width: 480px) {

    .header-text h1 {
        font-size: 1.5rem;
    }

    .header-text h2 {
        font-size: 1.2rem;
    }

    .header-text p {
        font-size: 0.8rem;
    }

    .header-text h3 {
        font-size: 1rem;
    }

    .recompenses p {
        color: var(--white);
        line-height: 30px;
    }
}